/codes/sipit-app/node_modules
/codes/sipit-app/public/hot
/codes/sipit-app//public/storage
/codes/sipit-app/storage/*.key
/codes/sipit-app/vendor
codes/sipit-app/.env
codes/sipit-app/.env.backup
codes/sipit-app/.phpunit.result.cache
codes/sipit-app/docker-compose.override.yml
codes/sipit-app/Homestead.json
codes/sipit-app/Homestead.yaml
codes/sipit-app/npm-debug.log
codes/sipit-app/yarn-error.log
/codes/sipit-app/.idea
/codes/sipit-app/.vscode
df